body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 100px; /* for footer space */
}

header, footer {
    background-color: white;
    padding: 25px;
    text-align: center;
}

#header { 
    font-size: 25px;
}

.img1 {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 200px;
}

.right {
    margin-left: 775px;
    color: #333;
    font-size: 18px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #5dc6d0;
    width: 180px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 35px;
    left: 40px;
}

nav {
    background-color: #abd04b;
    color: white;
    padding: 25px;
    height: 70vh;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #5dc6d0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#left-nav {
    flex: 1;
}

#center-content {
    flex: 2;
    padding: 30px;
}

.img2 {
    width: 300px;
    margin-left: 200px;
    margin-top: 20px;
}

.Text1, .Text2, .Text3, .Text4, .Text5 {
    margin-top: 40px;
}

.join {
    font-size: 20px;
    border: 1px solid #333;
    padding: 5px;
    background-color: #5dc6d0;
    width: 180px;
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #5dc6d0;
    color: black;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
